@import '_content/Finaltouch.DragDrop.Components/Finaltouch.DragDrop.Components.bundle.scp.css';

/* /Pages/Clone.razor.rz.scp.css */
.white[b-oxeeuwr079] {
    color: white;
}

.cloneZone[b-oxeeuwr079] {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/ /* Centering y-axis */
    align-items: center; /* Centering x-axis */
    border: 3px solid white;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    min-height: 100px;
    flex-wrap: wrap;
}

.dd-item[b-oxeeuwr079] {
    touch-action: none;
}

.moveCursor[b-oxeeuwr079] {
    cursor: move;
}
/* /Pages/Index.razor.rz.scp.css */
.dd-component[b-dxj4kt0i8m] {
				width: 100%;
				margin-top: 15px;
				margin-bottom: 15px;
				border: 3px solid black;
				border-radius: 5px;
}
.drag-scope[b-dxj4kt0i8m] {
				display: flex;
				justify-content: space-around;
				background-color: white;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-rko8v75kgf] {
    position: relative;
    display: flex;
    /*flex-direction: column;*/
    flex-direction: row;
}

main[b-rko8v75kgf] {
    flex: 1;
}

/*.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
*/
