@page "/clone"
@layout MainLayout
<div style="color:white;background-image:url('images/deathstar.jpg')">
    <br />
    <br />
    <h3 style="width:100%;text-align:center;margin-top:10px;">Help Clone More Storm Troopers For The</h3>
    <div style="text-align:center">
        <img src="images/galactic_republic.png" style="height:100px;width:auto" />
    </div>
    <div style="text-align:center">
        <div>Drag the Storm Trooper to the box below!</div>
    </div>
    @*<div class="container dd-container" data-container-id="@SourceContainerId">
        <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center justify-content-center">
                <span data-item-id="@SourceItemId" class="dd-item">
                    <img src="images/trooper.png" style="height:75px;width:auto" />
                </span>
            </div>
        </div>
    </div>*@
    <div style="text-align:center">
        <img src="images/trooper.png" class="dd-item" style="height:75px;width:auto" />
    </div>
    <br />
    <br />
    <div class="cloneZone dd-container" data-container-id="@TargetContainerId">
        
            @foreach (var trooper in Troopers)
            {
                <span>
                    @trooper.Text
                </span>
            }
    </div>
    <br />
    <br />
    <br />
</div>
