@page "/clone"
@layout MainLayout

<h3 style="align-content:center">Help Clone More Storm Troopers For The</h3>
<div class="justify-content-center">
    <img src="images/galactic_republic.png" style="height:100px;width:auto" />
</div>

<div class="container">
    <div class="row">
        <div class="col-2 d-flex flex-wrap align-items-center">
            <img src="images/kaminoan.png" class="img-fluid rounded-circle" style="height:200px;width:auto" />
        </div>
        <div class="col-4 d-flex flex-wrap align-items-center justify-content-center">
            <div>Drag this Storm Trooper to the cloning machine!</div>
            <img src="images/stormtrooperhelmet.png" style="height:100px;width:auto" />
        </div>
        <div class="col-4 d-flex flex-wrap align-items-center justify-content-center">
            <img src="images/industrial-robot.png" style="height:100px;width:auto" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-12">
            <img src="images/stormtrooperhelmet.png" style="height:50px;width:auto" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-center">
            <a href="https://www.flaticon.com/free-icons/factory">
                <span class="align-items-center">Factory Icon created by Smashicons - Flaticon</span>
            </a>
        </div>
    </div>

</div>

