@page "/clone"
@layout MainLayout

<h2>Help Lama Su clone more Storm Troopers for the Galactic Republic!</h2>

<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="images/kaminoan.png" height="25%" width="25%" />
        </div>
        <div class="col-10">
            <div></div>
        </div>
    </div>
</div>

