@page "/clone"
@layout MainLayout
<div style="color:white;background-image:url('images/deathstar.jpg')">
    <br />
    <br />
    <h3 style="width:100%;text-align:center;margin-top:10px;">Help Clone More Storm Troopers For The</h3>
    <div style="text-align:center">
        <img src="images/galactic_republic.png" style="height:100px;width:auto" />
    </div>
    <div style="text-align:center">
        <div>Drag the Storm Trooper to the box below!</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center justify-content-center">
                <img src="images/trooper.png" style="height:75px;width:auto" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div style="border: 3px solid white;border-radius:5px;width:90%;margin:auto;min-height:100px;">
        @*https://mdbootstrap.com/docs/standard/extended/horizontal-list/*@
        <div class="card-group card-group-scroll">
            @for(var count=0; count < Counter; count++)
            {
                <div class="card" style="background-color:transparent">
                    <img src="images/trooper.png" class="card-img" style="height:50px;width:fit-content;background-color:transparent" />
                </div>
            }
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
