@page "/"
@attribute [CascadingTypeParameter(nameof(ToDoItem))]
<CascadingValue Value="DragDropOptions">
    <div class="dd-component">
        <div class="drag-scope">
            <DragDropContainer Title="Tasks" List="Tasks" DragDropStyle="TasksStyle.TintStyle" class="column">
                <ItemTemplate>
                    <DragDropItem Item="context" DragDropStyle="TasksStyle"></DragDropItem>
                </ItemTemplate>
            </DragDropContainer>
            <DragDropContainer Title="High Priority" List="Priorities" DragDropStyle="PrioritiesStyle.TintStyle" class="column">
                <ItemTemplate>
                    <DragDropItem Item="context" DragDropStyle="PrioritiesStyle"></DragDropItem>
                </ItemTemplate>
            </DragDropContainer>
            <DragDropContainer Title="Done" List="Done" DragDropStyle="DoneStyle.TintStyle" class="column">
                <ItemTemplate>
                    <DragDropItem Item="context" DragDropStyle="DoneStyle"></DragDropItem>
                </ItemTemplate>
            </DragDropContainer>
        </div>
    </div>
</CascadingValue>
