@inherits LayoutComponentBase

<div class="page">
    @*<ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/clone">Clone</a>
        </li>
    </ul>
    <br />*@
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
