<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Drag and Drop Demo</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-list" aria-hidden="true"></span> ToDo
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="clone">
                        <span class="oi oi-plus" aria-hidden="true"></span> Clone
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>